/*
	project: web application template
	author: luka cvrk (www.solucija.com)
*/

*{ margin: 0; padding: 0; }*
body { margin: 50px 0 0; background: #fff url(../images/bg.gif) repeat-x; font: .74em "Trebuchet MS", Arial, Sans-Serif; color: #444; }
	h1 { font-size: 3em; font-weight: normal; float: left; }
	h1 a { text-decoration: none; }
	h2 { font-size: 2em; color: #FFF2B3; font-weight: normal; margin: 0 0 .8em; }
	h3 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em; }
	h4 { font-size: 1.2em; margin: 0 0 .4em;}
	h5 { font-size: 1.1em; margin: 0 0 .3em; text-decoration: underline;}
	p  { margin: 0 0 1em 0; line-height: 1.6em;}
	em { border-bottom: 1px dotted #fff; cursor: pointer; }
	a { color: #9D2900; }
	a:hover { color: #A0000E; text-decoration: none; }
	img { border: 0; }
	.red { color: #9D2900; }
	
.wrap { width: 900px; margin: 0 auto; }
 
#header { width: 900px; height: 50px; margin: 0 auto; }
	#menu  { float: right; padding: 6px 0 0 0; list-style: none; }
		#menu li { display: inline; }
		#menu a { display: block; float: left; margin-left: 30px; padding: 7px; text-decoration: none; font-size: 13px; color: #000000; }
		#menu a:hover { color: #000; border-bottom: 2px solid #ccc; }
		#menu .active a { border-bottom: 2px solid #C70012; color: #9D2900;}
 
#teaser { clear: both; height: 259px; background: #fff url(../images/teaserbg.jpg) repeat-x; }
	.box { float: left; padding: 66px 0 0; width: 480px; color: #C7E3EE; }
	#image { float: right; width: 388px; position: relative; top: 16px; background: url(../images/logotype.jpg) no-repeat top right; height: 258px; }
	
#bar { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; background: url(../images/bar.gif) repeat-x; }
	.step { color: #FAFDDD; padding: 4px 0 0 11px; margin: 0 35px 0 0; font-size: 1.4em; float: left; text-align: center; background: url(../images/step.gif) no-repeat; height: 30px; }
	.step a { color: #fff; margin: 0 10px 0 0; }
	
.col { float: left; width: 276px; margin: 0 30px 16px 0; }
	.last { float: right; margin: 0; }
	.info { border: 1px solid #e0e0e0; background: #f4f4f4; padding: 7px; }

#footer { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px; }	
	#footer .right { float: right; margin: 0 55px 0 0; }
	#footer a { color: #808080; font-weight: bold; }


.screenshot {
	border: 1px solid black;
}

pre { background: #000; color: #fff; padding: 15px; margin-left: 0px; padding:0px;}

.center {display: block; margin-left: auto; margin-right: auto;}

.tc {text-align: center;}

ul.piramid_bullets > li {
		list-style-image:url("../images/bullet.png");
	    margin-left: 20px;
		list-style-type:square;
	}
ul.news > li {margin-bottom: 4em;}
ul.support > li {margin-bottom: 3em;}
ul.other_site > li {margin-bottom: 3em;}
ul {
		list-style:circle;
	    margin-left: 20px;
	}

.gplus { margin-left: 10px; }


.horizontal li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
