{% load i18n %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 match-height">
    <div class="panel panel-secondary dashboard-widget">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-2">
                    {% if icon %}
                        <i class="dashboard-widget-icon {{ icon }}"></i>
                    {% elif icon_class %}
                        <div class="dashboard-widget-icon">
                            {{ icon_class.render }}
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-10 text-right">
                    <strong>{{ label }}</strong>
                    <div class="huge">
                        {{ count }}
                    </div>
                </div>
            </div>
        </div>
        {% if link %}
            <a href="{{ link }}">
                <div class="panel-footer">
                    <span class="pull-left">{% trans 'View details' %}</span>
                    <span class="pull-right"><i class="fa fa-external-link-alt"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        {% endif %}
    </div>
</div>

