{% extends 'generic_help.html' %}

{% load i18n %}

{% block help_title %}
  {% trans "What are metadata types?" %}
{% endblock %}

{% block help_text %}
  <p>
  {% blocktrans %}
  A metadata type defines the characteristics of a
  value of some kind that can be attached to a document.  Examples of metadata
  types are: a client name, a date, or a project to which several documents
  belong.
  {% endblocktrans %}
  </p>

  <p>
  {% blocktrans %}
  A metadata type's name is the internal identifier with which it can
  be referenced to by other modules such as the indexing module, the title is
  the value that is shown to the users, the default value is the value an
  instance of this metadata type will have initially, and the lookup value
  turns an instance of a metadata of this type into a choice list which
  options are the result of the lookup's code execution.
  {% endblocktrans %}
  </p>
{% endblock %}
