{% load appearance_tags %}
{% load documents_tags %}

<span class="instance-image-widget {{ container_class }}">
    <span class="spinner-container text-primary"
        style="height: {% if display_full_height %}100%{% else %}{{ display_height|default:150 }}px{% endif %}; display: block;"
    >
        {% get_icon 'documents.icons.icon_document_image_loading'  %}
    </span>
    <img
        class="thin_border {{ image_classes }}"
        data-url="{% get_api_image_url instance width=image_width height=image_height zoom=image_zoom rotation=image_rotation %}"
        src="#"
        style="{% if image_max_height %}max-height: {{ image_max_height }}; {% endif %}"
     />
</span>

