{% extends 'main/base.html' %}

{% load i18n %}
{% load static %}

{% load project_tags %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <div class="pure-g tc">
        <div class="pure-u-1-3">
            <a class="pure-button mayan-button-big" href="{% url 'sources:document_create_multiple' %}">
                <p>
                    <img src="{% static 'main/icons/page_add.png' %}"><br>
                    {% trans 'Upload documents' %}
                </p>
            </a>
        </div>

        <div class="pure-u-1-3">
            <a class="pure-button mayan-button-big" href="{% url 'documents:document_list_recent' %}">
                <p>
                    <img src="{% static 'main/icons/page.png' %}"><br>
                    {% trans 'Recent Documents' %}
                </p>
            </a>
        </div>

        <div class="pure-u-1-3">
            <a class="pure-button mayan-button-big" href="{% url 'documents:document_list' %}">
                <p>
                    <img src="{% static 'main/icons/page.png' %}"><br>
                    {% trans 'All Documents' %}
                </p>
            </a>
        </div>

        <div class="pure-u-24-24">
            <form class="pure-form" id="home-form-search" method="get" action="{% url 'main:home' %}">
                <fieldset>
                    <legend></legend>
                    <input type="text" name="q" placeholder="{% trans 'Space separated terms' %}">
                    &nbsp;<button type="submit" name="submit" class="pure-button mayan-button"><span class="famfam active famfam-zoom"></span>{% trans 'Search' %}</button>
                    &nbsp;<a href="{% url 'search:search_advanced' %}">{% trans 'Advanced search' %} </a>
                </fieldset>
            </form>
        </div>
    </div>
    {% if query_string %}
        {% include 'main/generic_list_subtemplate.html' %}
    {% endif %}
{% endblock %}
