{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/override.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/famfamfam-silk-sprite.css' %}" type="text/css" media="screen" />

<p class="tc">
    {% trans 'Open source, Django based electronic document manager with custom metadata, indexing, tagging, file serving integration, digital signature support and OCR capabilities' %}
</p>
<p class="tc">
    <span class="famfam active famfam-world_go"></span><a href="http://www.mayan-edms.com">http://www.mayan-edms.com</a>
</p>
<p class="tc">
    <span class="famfam active famfam-book_open"></span><a href="http://readthedocs.org/docs/mayan/en/latest/">http://mayan.readthedocs.org/</a>
</p>
<p class="tc">
    <span class="famfam active famfam-wrench"></span><a href="https://github.com/mayan-edms/mayan-edms/">https://github.com/mayan-edms/mayan-edms/</a>
</p>
<p class="tc">
    <span class="famfam active famfam-bug"></span><a href="https://github.com/mayan-edms/mayan-edms/issues">https://github.com/mayan-edms/mayan-edms/issues</a>
</p>
<p class="tc">
    {% trans 'Released under the Apache 2.0 License' %}
</p>
<div class="tc">
    <img src="{% static 'images/mayan_logo_landscape_rough.png' %}"/>
</div>
