{% load templating_tags %}
[supervisord]
environment=
    PYTHONPATH="{{ user_settings_folder }}",
    DJANGO_SETTINGS_MODULE=mayan.settings.production,
    MAYAN_ALLOWED_HOSTS='["*"]',
    MAYAN_MEDIA_ROOT="{{ MEDIA_ROOT }}",
    MAYAN_PYTHON_BIN_DIR={{ INSTALLATION_PATH }}bin/,
    MAYAN_GUNICORN_BIN={{ INSTALLATION_PATH }}bin/gunicorn,
    MAYAN_GUNICORN_WORKERS={{ GUNICORN_WORKERS }},
    MAYAN_GUNICORN_MAX_REQUESTS={{ GUNICORN_MAX_REQUESTS }},
    MAYAN_GUNICORN_JITTER={{ GUNICORN_JITTER }},
    MAYAN_GUNICORN_WORKER_CLASS={{ GUNICORN_WORKER_CLASS }},
    MAYAN_GUNICORN_TIMEOUT={{ GUNICORN_TIMEOUT }},
    MAYAN_GUNICORN_LIMIT_REQUEST_LINE={{ GUNICORN_LIMIT_REQUEST_LINE }},
    MAYAN_SETTINGS_MODULE=mayan.settings.production,
    {% spaceless_plus %}
    {% for worker in workers %}
    MAYAN_{{ worker.name|upper }}_CONCURRENCY="{% if worker.concurrency %}--concurrency={{ worker.concurrency }}{% endif %}",
    MAYAN_{{ worker.name|upper }}_MAX_MEMORY_PER_CHILD="{% if worker.maximum_memory_per_child %}--max-memory-per-child={{ worker.maximum_memory_per_child }}{% endif %}",
    MAYAN_{{ worker.name|upper }}_MAX_TASKS_PER_CHILD="{% if worker.maximum_tasks_per_child %}--max-tasks-per-child={{ worker.maximum_tasks_per_child }}{% endif %}",
    {% endfor %}
    _LAST_LINE=""
    {% endspaceless_plus %}
{% include "platform/partials/partial_supervisord.tmpl" %}
