[supervisord]
environment=
    PYTHONPATH="{{ MEDIA_ROOT }}/mayan_settings",
    DJANGO_SETTINGS_MODULE=mayan.settings.production,
    MAYAN_MEDIA_ROOT="{{ MEDIA_ROOT }}",
    MAYAN_ALLOWED_HOSTS="{{ ALLOWED_HOSTS }}",
    MAYAN_CELERY_RESULT_BACKEND="{{ CELERY_RESULT_BACKEND }}",
    MAYAN_CELERY_BROKER_URL="{{ CELERY_BROKER_URL }}",
    MAYAN_DATABASES="{{ DATABASES }}"

[program:mayan-gunicorn]
autorestart = true
autostart = true
command = {{ INSTALLATION_PATH }}/bin/gunicorn -w {{ GUNICORN_WORKERS }} mayan.wsgi --max-requests 500 --max-requests-jitter 50 --worker-class sync --bind 0.0.0.0:8000 --timeout {{ GUNICORN_TIMEOUT }}
user = mayan

{% for worker in workers %}
[program:mayan-worker-{{ worker.name }}]
autorestart = true
autostart = true
command = nice -n {{ worker.nice_level }} {{ INSTALLATION_PATH }}/bin/celery worker -A mayan -Ofair -l ERROR -Q {% for queue in worker.queues %}{{ queue.name }}{% if not forloop.last %},{% endif %}{% endfor %} -n mayan-worker-{{ worker.name }}.%%h --concurrency=1
killasgroup = true
numprocs = 1
priority = 998
startsecs = 10
stopwaitsecs = 1
user = mayan
{% endfor %}

[program:mayan-celery-beat]
autorestart = true
autostart = true
command = nice -n 1 {{ INSTALLATION_PATH }}/bin/celery beat -A mayan --pidfile= -l ERROR
killasgroup = true
numprocs = 1
priority = 998
startsecs = 10
stopwaitsecs = 1
user = mayan
