{% load appearance_tags %}

{% appearance_get_icon 'mayan.apps.tags.icons.icon_tag_color_random' as icon_tag_color_random %}

<div class="input-group">
    {% include "django/forms/widgets/input.html" %}
    <div class="input-group-addon" id="tag-color-random">{{ icon_tag_color_random }}</div>
</div>

<script>
    'use strict';

    jQuery(document).ready(function() {
        $('#tag-color-random').click(function (event) {
            let randomColor = Math.floor(
                Math.random() * 16777215
            ).toString(16);
            $('#id_color').val('#' + randomColor);
        });
    });
</script>
