{% load i18n %}

{% load smart_settings_tags %}

{% smart_setting 'APPEARANCE_MAXIMUM_TITLE_LENGTH' as maximum_title_length %}

{% if not non_html_title %}
    <h3>
{% endif %}

    {% if title %}
        {{ title|truncatechars:maximum_title_length }}
    {% else %}
        {% if delete_view %}
            {% trans 'Confirm delete' %}
        {% else %}
            {% if form %}
                {% if object %}
                    {% blocktrans with object as object %}Edit: {{ object }}{% endblocktrans %}
                {% else %}
                    {% trans 'Confirm' %}
                {% endif %}
            {% else %}
                {% if read_only %}
                    {% blocktrans %}Details for: {{ object }}{% endblocktrans %}
                {% else %}
                    {% if object %}
                        {% blocktrans with object as object %}Edit: {{ object }}{% endblocktrans %}
                    {% else %}
                        {% trans 'Create' %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

{% if not non_html_title %}
    </h3>

    {% if subtitle %}
        <small>{{ subtitle }}</small>
    {% endif %}
    <hr/>
{% endif %}
