{% extends 'appearance/base.html' %}

{% load i18n %}

{% load subtemplates_tags %}

{% block title %} :: {% with 'true' as read_only %}{% include 'appearance/calculate_form_title.html' %}{% endwith %}{% endblock %}

{% block content %}
    {% if form %}
        {% with 'true' as read_only %}
            {% include 'appearance/generic_form_subtemplate.html' %}
        {% endwith %}
    {% endif %}

    <div class="row">
        {% for subtemplate in subtemplates_list %}

            {% if subtemplate.column_class %}
                <div class="{{ subtemplate.column_class }}">
            {% else %}
                <div class="col-xs-12">
            {% endif %}
                {% with "true" as read_only %}
                    {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                        {{ rendered_subtemplate }}
                {% endwith %}
            </div>
         {% endfor %}
    </div>
{% endblock %}

