{% extends 'appearance/base.html' %}

{% load i18n %}
{% load static %}

{% load project_tags %}

{% block title %} :: {% trans 'Home' %}{% endblock %}

{% block content %}
    <h2>
        {% trans 'Home' %}
    </h2>
    <hr>

    <div class="row">
        <div class="col-xs-12">
            <div class="well center-block">
                <div class="row">
                    {% with 'navigation/large_button_link.html' as link_template %}
                    {% with 'col-xs-12 col-sm-6 col-md-4 col-lg-4' as div_class %}
                        {% include 'navigation/generic_navigation.html' %}
                    {% endwith %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="well center-block">
                <form action="{% url 'main:home' %}" method="get" role="search">
                    <div class="input-group">
                        <input class="form-control" name="q" placeholder="{% trans 'Space separated terms' %}" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">{% trans 'Search' %}</button>
                            <a class="btn btn-primary" href="{% url 'search:search_advanced' %}">{% trans 'Advanced search' %}</a>
                        </span>
                    </div>
                </form>
                {% if query_string %}
                    {% include 'appearance/generic_list_subtemplate.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
