{% extends 'appearance/base_plain.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content_plain %}
    <style>
        .img-responsive {
            display: block;
            max-width: 100%;
            height: auto;
        }
        .list-inline {
            padding-left: 0;
            list-style: none;
            margin-left: -5px;
        }
        .text-center {
            text-align: center;
        }
        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }
    </style>

    <h1 class="text-center">{{ title }}</h1>
    <ul class="list-inline text-center">
        {% for code in object.codes.all %}
            <li class="list-inline-item">
                <img class="img-responsive" src="{{ code.get_api_image_url }}" />
                <p class="text-center">{{ code.get_label }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
