{% load i18n %}

{% if title %}
    {{ title|capfirst }}
{% else %}
    {% if read_only %}
        {% if object_name %}
            {% blocktrans %}Details for {{ object_name }}: {{ object }}{% endblocktrans %}
        {% else %}
            {% blocktrans %}Details for: {{ object }}{% endblocktrans %}
        {% endif %}
    {% else %}
        {% if object %}
            {% if object_name %}
                {% blocktrans with object as object and object_name as object_name %}Edit {{ object_name }}: {{ object }}{% endblocktrans %}
            {% else %}
                {% blocktrans with object as object %}Edit: {{ object }}{% endblocktrans %}
            {% endif %}
        {% else %}
            {% if object_name %}
                {% blocktrans %}Create new {{ object_name }}{% endblocktrans %}
            {% else %}
                {% trans "Create" %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
