{% extends 'base.html' %}

{% load i18n %}

{% load styling %}

{% add_classes_to_form form %}

{% block content %}

    {{ wizard.management_form }}
    {% with step_title as title %}

        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}

            {% with wizard.form as form %}
            {% with 'true' as form_display_mode_table %}
                {% include 'generic_form_subtemplate.html' %}
            {% endwith %}
            {% endwith %}
        {% else %}
            {% with wizard.form as form %}
                {% include 'generic_form_subtemplate.html' %}
            {% endwith %}
        {% endif %}
    {% endwith %}

{% endblock %}
