{% load i18n %}

{% block stylesheets %}
    <style type="text/css">
        #subform form  textarea, 
        #subform form  select option,
        #subform form  input, 
        #subform form  select, 
        #subform form  input { background: none; color: black; border: none; }
    </style>
{% endblock %}

{% block content %}

    {% if form %}
        {% with "true" as read_only %}
            <div class="generic_subform">
                {% include "generic_form_subtemplate.html" %}
            </div><!--end generic_subform-->
        {% endwith %}
    {% endif %}
{% endblock %}

