{% load templating_tags %}
{% spaceless_plus %}
[program:mayan-edms-gunicorn]
autorestart = {{ autorestart }}
autostart = true
command = %(ENV_MAYAN_GUNICORN_BIN)a --workers %(ENV_MAYAN_GUNICORN_WORKERS) %(ENV_MAYAN_GUNICORN_TEMPORARY_DIRECTORY) mayan.wsgi --max-requests %(ENV_MAYAN_GUNICORN_MAX_REQUESTS) --max-requests-jitter %(ENV_MAYAN_GUNICORN_JITTER) --worker-class %(ENV_MAYAN_GUNICORN_WORKER_CLASS) --bind 0.0.0.0:8000 --env DJANGO_SETTINGS_MODULE=%(ENV_MAYAN_SETTINGS_MODULE) --timeout %(ENV_MAYAN_GUNICORN_TIMEOUT) --limit-request-line %(ENV_MAYAN_GUNICORN_LIMIT_REQUEST_LINE)"
redirect_stderr = true
{% if stderr_logfile %}stderr_logfile = {{ stderr_logfile }}{% endif %}
{% if stderr_logfile_maxbytes %}stderr_logfile_maxbytes = {{ stderr_logfile_maxbytes }}{% endif %}
{% if stdout_logfile %}stdout_logfile = {{ stdout_logfile }}{% endif %}
{% if stdout_logfile_maxbytes %}stdout_logfile_maxbytes = {{ stdout_logfile_maxbytes }}{% endif %}
user = mayan
{% endspaceless_plus %}
{% for worker in workers %}
{% spaceless_plus %}
[program:mayan-edms-{{ worker.name }}]
autorestart = {{ autorestart }}
autostart = true
command = nice -n {{ worker.nice_level }} %(ENV_MAYAN_PYTHON_BIN_DIR)celery -A mayan worker %(ENV_MAYAN_{{ worker.name|upper }}_CONCURRENCY) --hostname=mayan-edms-{{ worker.name }}.%%h --loglevel=ERROR -Ofair --queues={% for queue in worker.queues %}{{ queue.name }}{% if not forloop.last %},{% endif %}{% endfor %} %(ENV_MAYAN_{{ worker.name|upper }}_MAX_MEMORY_PER_CHILD) %(ENV_MAYAN_{{ worker.name|upper }}_MAX_TASKS_PER_CHILD) --without-gossip --without-heartbeat"
killasgroup = true
numprocs = 1
priority = 998
startsecs = 10
{% if stderr_logfile %}stderr_logfile = {{ stderr_logfile }}{% endif %}
{% if stderr_logfile_maxbytes %}stderr_logfile_maxbytes = {{ stderr_logfile_maxbytes }}{% endif %}
{% if stdout_logfile %}stdout_logfile = {{ stdout_logfile }}{% endif %}
{% if stdout_logfile_maxbytes %}stdout_logfile_maxbytes = {{ stdout_logfile_maxbytes }}{% endif %}
stopwaitsecs = 1
user = mayan
{% endspaceless_plus %}
{% endfor %}
{% spaceless_plus %}
[program:mayan-edms-celery-beat]
autorestart = {{ autorestart }}
autostart = true
command = nice -n 1 %(ENV_MAYAN_PYTHON_BIN_DIR)celery -A mayan beat --pidfile= -l ERROR
killasgroup = true
numprocs = 1
priority = 998
{% if stderr_logfile %}stderr_logfile = {{ stderr_logfile }}{% endif %}
{% if stderr_logfile_maxbytes %}stderr_logfile_maxbytes = {{ stderr_logfile_maxbytes }}{% endif %}
{% if stdout_logfile %}stdout_logfile = {{ stdout_logfile }}{% endif %}
{% if stdout_logfile_maxbytes %}stdout_logfile_maxbytes = {{ stdout_logfile_maxbytes }}{% endif %}
startsecs = 10
stopwaitsecs = 1
user = mayan
{% endspaceless_plus %}
