{% extends "base.html" %}

{% block title %} :: {{ title|capfirst }}{% endblock %}

{% block content %}
    {% for key, value in blocks.items %}
        <div class="content">    
        <h2 class="title">{{ value.title|capfirst }}</h2>
        <div class="inner">
        <p>
            <ul class="undecorated_list">
                {% with value.links as object_navigation_links %}
                {% with 'true' as as_li %}
                    {% include "generic_navigation.html" %}
                {% endwith %}
                {% endwith %}
            </ul>
        </p>
        
        </div></div>
    {% endfor %}
{% endblock %}
