{% extends 'base.html' %}

{% load i18n %}

{% load project_tags %}

{% block content %}
    <div class="content tc">
        <h1>{% project_name %}</h1>
        <img src="{{ STATIC_URL }}images/1068504_92921456.jpg" />
        <h2>{% trans 'Django based open source document management system' %}</h2><hr>
    </div>
{% endblock %}
{% block footer %}
    <div id="footer">
        <div class="block">
            <p>{% trans 'Copyright &copy; 2011 Roberto Rosario.' %}</p>
        </div>
    </div>
{% endblock %}
