{% extends 'generic_help.html' %}

{% load i18n %}

{% block help_title %}
  {% trans "What are smart links?" %}
{% endblock %}

{% block help_text %}
  <p>
  {% blocktrans %}
    Smart links are a set of conditional statements that are used to query the
    database using the current document the user is accessing as the data
    source, the results of these queries are a list of documents that relate in
    some manner to the document being displayed and allow users the ability to
    jump to and from linked documents very easily.
  {% endblocktrans %}
  </p>
{% endblock %}
