{% extends 'generic_help.html' %}

{% load i18n %}

{% block help_title %}
  {% trans "What are document types?" %}
{% endblock %}

{% block help_text %}
  <p>
  {% blocktrans %}
    Document types define a class that represents a broard group of documents,
    such as: invoices, regulations or manuals.  The advantage of using
    document types are: assigning a list of typical filenames for quick
    renaming during creation, as well as assigning default metadata types
    and sets to it.
  {% endblocktrans %}
  </p>
{% endblock %}
