{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}
{% block title %} :: {% trans 'About this program' %}{% endblock %}
{% block content %}

<div class="content">
    <h3 class="tc">
    {% project_name %}<br /><br />
    {% trans 'Open source, Django based document manager with custom metadata indexing, file serving integration and OCR capabilities' %}<br /><br />
    <a href="http://www.github.com/rosarior/mayan/">http://www.github.com/rosarior/mayan/</a><br /><br />
    </h3>
</div>
{% endblock %}
{% block footer %}
    <div id="footer">
        <div class="block">
            <p>Copyright &copy; 2011 Roberto Rosario.</p>
        </div>
    </div>
{% endblock %}
