{% extends "web_theme_base.html" %}
{% load i18n %}
{% load project_tags %}
{% load navigation_tags %}
{% load settings %}
{% load main_settings_tags %}
{% load variable_tags %}
{% load default_icons %}
{% load registration_tags %}

{% block web_theme_head %}
    {% if new_window_url %}
        <script type="text/javascript">
            window.open('{{ new_window_url|safe }}','{{ new_window_url_name|default:"_blank" }}','toolbar=1,scrollbars=1,location=1,status=1,menubar=1,resizable=1');
        </script>
        <noscript>
            <META HTTP-EQUIV="refresh" CONTENT="{{ new_window_url_timeout|default:'2' }};{{ new_window_url|safe }}">
        </noscript>
    {% endif %}
    
    {% if html_redirect %}
        <META HTTP-EQUIV="refresh" CONTENT="{{ html_redirect_timeout|default:'2' }};{{ html_redirect|safe }}">
    {% endif %}
{% endblock %}

{% block html_title %}{% project_name %}{{ request.new_window_url }}{% block title %}{% endblock %}{% endblock %}

{% block web_theme_project_name %}{% project_name %}{% if debug %} {% trans "(DEBUG)" %}{% endif %} - {% registered_name %}{% endblock %}

{% block web_theme_stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/960-fluid.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/override.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ STATIC_URL }}packages/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <style type="text/css"> 
        #fancybox-left-ico { 
         left: 20px; 
        } 

        #fancybox-right-ico { 
         right: 20px; 
         left: auto; 
        } 
        
        .tags {
            margin: 0;
            padding: 0;
            right: 24px;
            bottom: -12px;
            list-style: none;
        }
        
        .tags li {
            float:left;
            height: 18px;
            line-height: 18px;
            position:relative;
            font-size: 11px;
            margin-left: 15px;
            padding: 0 5px 0 15px;
            background: #0089e0;
            color: black;
            text-decoration: none;
            -moz-border-radius-bottomright: 4px;
            -webkit-border-bottom-right-radius: 4px;	
            border-bottom-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;	
            border-top-right-radius: 4px;	

            border-top-left-radius: 12px;	
            -moz-border-radius-topleft: 12px;
            -webkit-border-top-left-radius: 12px;

            border-bottom-left-radius: 12px;
            -moz-border-radius-bottomleft: 12px;
            -webkit-border-bottom-left-radius: 12px;	

            /*border:1px solid #ccc;*/
            border: 1px solid rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 1px 1px 2px #888;
            -webkit-box-shadow: 1px 1px 2px #888;
            box-shadow: 1px 1px 2px #888;
            
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
            margin-bottom: 2px;
        }
            
        .tags li:after {
            content: "";
            position: absolute;
            top: 7px;
            left: 5px;
            float: left;
            width: 4px;
            height: 4px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            background: #fff;
            -moz-box-shadow: -1px -1px 2px #004977;
            -webkit-box-shadow: -1px -1px 2px #004977;
            box-shadow: -1px -1px 2px #004977;
        }		
        
        .thin_border {
            border: 1px solid black;
        }
    </style> 
    {% block stylesheets %}{% endblock %}
{% endblock %}

{% block web_theme_javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}packages/jquery.scrollview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}packages/JqueryAsynchImageLoader-0.9.7.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}packages/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}packages/jquery.fancybox-1.3.4/fancybox/jquery.easing-1.3.pack.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            {% if not disable_auto_focus %}
                $("input:text:visible:not(#livesearch):not([readonly]):enabled:first").focus();
            {% endif %}
            $('form').submit(function(){
                $('button', this).click(function() {
                    return false;
                });
                $(':submit', this).click(function() {
                    return false;
                });
            });        

            $("a.fancybox").fancybox({
                'titleShow'     : true,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic',
                'easingIn'      : 'easeOutBack',
                'easingOut'     : 'easeInBack',
                'type'          : 'image',
                'autoScale'     : true,
                'onComplete': function() {
                    $("#fancybox-title").css({'top':'0px', 'bottom':'auto'});
                }
            });

            $("a.fancybox-staging").fancybox({
                'titleShow'     : true,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic',
                'easingIn'      : 'easeOutBack',
                'easingOut'     : 'easeInBack',
                'type'          : 'image',
                'autoScale'     : true,
                'onComplete': function() {
                    $("#fancybox-title").css({'top':'0px', 'bottom':'auto'});
                }
            });
            
            $("a.fancybox-noscaling").fancybox({
                'titleShow'     : true,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic',
                'easingIn'      : 'easeOutBack',
                'easingOut'     : 'easeInBack',
                'type'          : 'image',
                'autoScale'     : false,
                'onComplete': function() {
                    $("#fancybox-title").css({'top':'0px', 'bottom':'auto'});
                }
            });
            
            $("a.fancybox-iframe").fancybox({
                'titleShow'     : false,
                'transitionIn'  : 'elastic',
                'transitionOut' : 'elastic',
                'easingIn'      : 'easeOutBack',
                'easingOut'     : 'easeInBack',
                'type'          : 'iframe',
                'autoScale'     : false,
                'width'         : '99%',
                'height'        : '99%',
                'showNavArrows' : false,
                'margin'        : 20
            });    
            $('.scrollable').scrollview();
            $('.full-height').height($(window).height() - 210);
            $('.no-parent-history', this).click(function() {
                location.replace(this.href);
                return false;
            });
            $('img.lazy-load').jail({
                event: 'load',
                timeout: 10,
                placeholder: '{{ STATIC_URL }}images/ajax-loader.gif'
            });
        });
    </script>
    {% block javascript %}{% endblock %}
{% endblock %}

{% block web_theme_user_navigation %}
    {% default_icons %}
    <li><strong>{% trans "User" %}:</strong>
        {% if not user.is_authenticated %}
            {% trans "Anonymous" %}
        {% else %}
                <a href="{% url current_user_details %}" title="{% trans 'User details' %}">{{ user.get_full_name|default:user }}{{ icon_current_user_details.display_small }}</a>
        {% endif %}
    </li>

    {% get_setting "MIDDLEWARE_CLASSES" as middleware_classes %}
    {% if "django.middleware.locale.LocaleMiddleware" in middleware_classes %}
        <li>
            <form action="{% url set_language %}" method="post">{% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                    {% for lang in LANGUAGES %}
                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ lang.0|language_name_local|capfirst }}</option>
                    {% endfor %}
                </select>
            </form>                                
        </li>
    {% endif %}
    {% get_setting "LOGIN_URL" as login_url %}
    <li><a class="logout" href="{% if not user.is_authenticated %}{% url login_view %}?next=/{% else %}{% url logout_view %}{% endif %}">{% if not user.is_authenticated %}{% trans "Login" %}{% else %}{% trans "Logout" %}{% endif %}</a></li>
{% endblock %}

{% block web_theme_main_navigation %}
    {% get_top_menu_links %}
    {% for link in menu_links %}
        {% with "true" as as_li %}
        {% with "true" as hide_active_anchor %}
        {% with "active" as li_class_active %}
        {% with "first" as li_class_first %}
            {% include "generic_subnavigation.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
{% endblock %}

{% block web_theme_secondary_navigation %}
    {% get_object_navigation_links "form_header" as form_header_navigation_links %}
    {% if form_header_navigation_links %}
        <div class="secondary-navigation">
            {% for object_reference, object_links in form_header_navigation_links.items %}
                <div class="secondary-navigation">
                    <ul class="wat-cf">
                        {% with object_links as links %}
                        {% with "true" as as_li %}
                        {% with "true" as hide_active_anchor %}
                        {% with "active" as li_class_active %}
                        {% with "first" as li_class_first %}
                            {% include "generic_navigation.html" %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    </ul>
                </div>                     
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block web_theme_sidebar %}
{% comment %}
    {% get_main_setting "SIDE_BAR_SEARCH" as side_bar_search %}
    {% if side_bar_search and not web_theme_hide_menus %}
        {% with "true" as side_bar %}
        {% with "true" as form_hide_required_text %}
        {% with "" as read_only %}
        {% with "" as object %}
            {% search_form %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endif %}
{% endcomment %}
    {% get_object_navigation_links "secondary_menu" as secondary_menu_navigation_links %}
    {% if secondary_menu_navigation_links %}
        <div class="block">
            <h3>{% trans "Secondary menu" %}</h3>
            <ul class="navigation">
                {% for object_reference, object_links in secondary_menu_navigation_links.items %}
                    {% with "true" as as_li %}
                    {% with object_links as links %}
                        {% include "generic_navigation.html" %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% get_object_navigation_links as secondary_menu_navigation_links %}
    {% if secondary_menu_navigation_links %}
        <div class="block">
            {% for object_reference, object_links in secondary_menu_navigation_links.items %}
                {% if object_reference %}
                    {% if navigation_object_dict.name %}
                        <h3>{% blocktrans with navigation_object_dict.name as name %}Actions for {{ name }}: {{ object_reference }}{% endblocktrans %}</h3>
                    {% else %}
                        <h3>{% blocktrans %}Actions for: {{ object_reference }}{% endblocktrans %}</h3>
                    {% endif %}
                {% else %}
                    <h3>{% trans "Available actions" %}</h3>
                {% endif %}            
                <ul class="navigation">
                        {% with "true" as as_li %}
                        {% with object_links as links %}
                            {% include "generic_navigation.html" %}
                        {% endwith %}
                        {% endwith %}
                </ul>
            {% endfor %}
        </div>
    {% endif %}

    {% get_object_navigation_links "sidebar" as sidebar_navigation_links %}
    {% if sidebar_navigation_links %}
        <div class="block">
            <h3>{% trans "Other available actions" %}</h3>
            <ul class="navigation">
                {% for object_reference, object_links in sidebar_navigation_links.items %}
                    {% with "true" as as_li %}
                    {% with object_links as links %}
                        {% include "generic_navigation.html" %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}    

    {% get_sidebar_templates as sidebar_templates %}
    {% for template in sidebar_templates %}
        {% with "true" as side_bar %}
            {% include template %}
        {% endwith %}
    {% endfor %}

    {% block sidebar %}{% endblock %}
{% endblock %}

{% block web_theme_messages %}{% block messages %}{% endblock %}{% endblock %}

{% block web_theme_content %}{% block content %}{% endblock %}{% endblock %}

{% block web_theme_footer %}{% block footer %}{% endblock %}{% endblock %}
