{% extends "base.html" %}
{% load subtemplates_tags %}

{% block title %} :: {% with "true" as striptags %}{% include "calculate_form_title.html" %}{% endwith %}{% endblock %}

{% block sidebar %}
    {% for subtemplate in sidebar_subtemplates_list %}
        {% if subtemplate.form %}
            {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                <div class="generic_subform">
                    {{ rendered_subtemplate }}
                </div>
        {% else %}
            {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
            {{ rendered_subtemplate }}
        {% endif %}
            {% if subtemplate.grid_clear or not subtemplate.grid %}
            {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
    {% if form %}
        <div class="generic_subform">
            {% include "generic_form_subtemplate.html" %}
        </div>
    {% endif %}
                             
<div class="container_12">
    {% for subtemplate in subtemplates_list %}
        <div class="grid_{{ subtemplate.grid|default:12 }}">       
            {% if subtemplate.form %}
                {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                    <div class="generic_subform">
                        {{ rendered_subtemplate }}
                    </div>
            {% else %}
                {% render_subtemplate subtemplate.name subtemplate.context as rendered_subtemplate %}
                {{ rendered_subtemplate }}
            {% endif %}
        </div>
        {% if subtemplate.grid_clear or not subtemplate.grid %}
            <div class="clear"></div> 
        {% endif %}
     {% endfor %}
</div>
{% endblock %}
