{% extends "base.html" %}
{% load i18n %}

{% block title %} :: {% with "true" as read_only %}{% with "true" as striptags %}{% include "calculate_form_title.html" %}{% endwith %}{% endwith %}{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    $(function() {
        $(".generic_subform form :input").each(function() {
            this.disabled = true;
        });
    });
    </script>
{% endblock %}

{% block sidebar %}
    {% for subtemplate in sidebar_subtemplates %}
        <div class="generic_subform">
            {% include subtemplate %}
        </div>        
    {% endfor %}

    {% for subtemplate in sidebar_subtemplates_dict %}
    {% with subtemplate.title as title %}
    {% with subtemplate.object_list as object_list %}
    {% with subtemplate.extra_columns as extra_columns %}
    {% with subtemplate.hide_object as hide_object %}
    {% with subtemplate.main_object as main_object %}
    {% with subtemplate.hide_link as hide_link %}
    {% with subtemplate.hide_header as hide_header %}
    {% with subtemplate.hide_columns as hide_columns %}
    {% with "true" as side_bar %}
        {% include subtemplate.name %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}    
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        #subform form  textarea, 
        #subform form  select option,
        #subform form  input, 
        #subform form  select, 
        #subform form  input { background: none; color: black; border: none; }
    </style>
{% endblock %}

{% block content %}
<div class="container_12">

    {% if form %}
        {% with "true" as read_only %}
            <div class="grid_{{ grid|default:11 }}">
                <div class="generic_subform">
                    {% include "generic_form_subtemplate.html" %}
                </div>
            </div>
            {% if grid_clear or not grid %}
                <div class="clear"></div> 
            {% endif %}
        {% endwith %}
    {% endif %}

    {% for subtemplate in subtemplates %}
        {% include subtemplate %}
    {% endfor %}

    {% for form in form_list %}
        {% with form.submit_method as submit_method %}
        {% with form.striptags as striptags %}
        {% with form.title as title %}
        {% with form.object as object %}
        {% with form.object_name as object_name %}
        {% with form.form_action as form_action %}
        {% with "true" as read_only %}        
            <div class="grid_{{ form.grid|default:11 }}">
        {% with form.form as form %}
            <div class="generic_subform">
                {% include "generic_form_subtemplate.html" %}
            </div>
        {% endwith %}
            </div>
            {% if form.grid_clear or not form.grid %}
                <div class="clear"></div> 
            {% endif %}
        
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}


    {% for subtemplate in subtemplates_dict %}
    {% with subtemplate.title as title %}
    {% with subtemplate.object_list as object_list %}
    {% with subtemplate.extra_columns as extra_columns %}
    {% with subtemplate.hide_object as hide_object %}
    {% with subtemplate.main_object as main_object %}
    {% with subtemplate.hide_link as hide_link %}
    {% with subtemplate.hide_header as hide_header %}
        <div class="grid_{{ subtemplate.grid|default:11 }}">
            {% include subtemplate.name %}
        </div>
        {% if subtemplate.grid_clear or not subtemplate.grid %}
            <div class="clear"></div> 
        {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}

