{% load i18n %}
{% load attribute_tags %}
{% load pagination_tags %}
{% load navigation_tags %}
{% load non_breakable %}
{% load variable_tags %}

{% if side_bar %}
    <div class="block">
    <h3>
        {{ title|capfirst }}
    </h3>
    <div class="content">
        <p>
{% else %}    
    {% autopaginate object_list %} 
    <div class="content">
    <h2 class="title">
        {% ifnotequal page_obj.paginator.num_pages 1 %}
            {% blocktrans with page_obj.start_index as start and page_obj.end_index as end and page_obj.paginator.object_list|length as total and page_obj.number as page_number and page_obj.paginator.num_pages as total_pages %}List of {{ title }} ({{ start }} - {{ end }} out of {{ total }}) (Page {{ page_number }} of {{ total_pages }}){% endblocktrans %}
        {% else %}
            {% blocktrans with page_obj.paginator.object_list|length as total %}List of {{ title }} ({{ total }}){% endblocktrans %}
        {% endifnotequal %}
    </h2>

    <div class="inner">
{% endif %}

        {#<form action="{% url multi_object_action_view %}" class="form" method="get">#}

            {% if object_list %}
                {% if multi_select or multi_select_as_buttons %}
                    {% if multi_select_as_buttons %}
                        {% get_multi_item_links as multi_item_links %}
                        <div class="group navform wat-cf">
                        {% for link in multi_item_links %}
                            <button class="button" type="submit" name="action" value="{{ link.url }}">
                                {{ link.icon.display_small }}{{ link.text|capfirst }}
                            </button>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% with "true" as form_hide_required_text %}
                            {% get_multi_item_links_form %}
                        {% endwith %}
                        <div class="group navform wat-cf">
                            <button class="button" type="submit" name="{{ form.prefix }}-submit">
                                <img src="{{ STATIC_URL }}web_theme_media/images/icons/tick.png" alt="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Submit' %}{% endif %}" /> {% if object %}{% trans "Save" %}{% else %}{% trans "Submit" %}{% endif %}
                            </button>
                        </div>
                    {% endif %}
                {% endif %}          
            {% endif %}          
        
            {% if scrollable_content %}
                <div style="border: 1px solid; height: {{ scrollable_content_height }}; overflow: auto;">
            {% endif %}
            

            <div class="group navform wat-cf">
                {% for object in object_list %}
                    {% if object %}
                        {{ object }}
                    {% endif %}
                {% empty %}
                    {% blocktrans with title|striptags as stripped_title %}There are no {{ stripped_title }}{% endblocktrans %}
                {% endfor %}
            </div>
            
            {% if scrollable_content %}
                </div>            
            {% endif %}            
            
            {% if object_list %}
                {% if multi_select or multi_select_as_buttons %}
                    {% if multi_select_as_buttons %}
                        {% get_multi_item_links as multi_item_links %}
                        <div class="group navform wat-cf">
                        {% for link in multi_item_links %}
                            <button class="button" type="submit" name="action" value="{{ link.url }}">
                               {{ link.icon.display_small }}{{ link.text|capfirst }}
                            </button>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% with "true" as form_hide_required_text %}
                            {% get_multi_item_links_form %}
                        {% endwith %}
                        <div class="group navform wat-cf">
                            <button class="button" type="submit" name="{{ form.prefix }}-submit">
                                <img src="{{ STATIC_URL }}web_theme_media/images/icons/tick.png" alt="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Submit' %}{% endif %}" /> {% if object %}{% trans "Save" %}{% else %}{% trans "Submit" %}{% endif %}
                            </button>
                        </div>
                    {% endif %}
                {% endif %}  
            {% endif %}  
        {#</form>#}
        {% paginate %}
        
        {% if side_bar %}
            </p>
        {% endif %} 
    </div>
</div>
