{% extends "base.html" %}
{% block title %} :: {% with "true" as striptags %}{% include "calculate_form_title.html" %}{% endwith %}{% endblock %}

{% block sidebar %}
    {% for subtemplate in sidebar_subtemplates %}
        <div class="generic_subform">
            {% include subtemplate %}
        </div><!--end subform-->
    {% endfor %}

    {% for subtemplate in sidebar_subtemplates_list %}
    {% with subtemplate.title as title %}
    {% with subtemplate.object_list as object_list %}
    {% with subtemplate.extra_columns as extra_columns %}
    {% with subtemplate.hide_object as hide_object %}
    {% with subtemplate.main_object as main_object %}
    {% with subtemplate.hide_link as hide_link %}
    {% with subtemplate.hide_header as hide_header %}
    {% with subtemplate.hide_columns as hide_columns %}
    {% with "true" as side_bar %}
    
        {% with subtemplate.submit_method as submit_method %}
        {% with subtemplate.striptags as striptags %}
        {% with subtemplate.title as title %}
        {% with subtemplate.object as object %}
        {% with subtemplate.object_name as object_name %}
        {% with subtemplate.form_action as form_action %}    
        {% with subtemplate.submit_label as submit_label %}    
        {% with subtemplate.form as form %}

        {% with subtemplate.content as content %}
        {% with subtemplate.paragraphs as paragraphs %}

        {% include subtemplate.name %}

        {% endwith %}
        {% endwith %}
        
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}

        
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %} 
{% endblock %}

{% block content %}
<div class="container_12">
    {% if form %}
        <div class="grid_{{ form.grid|default:11 }}">
            {% include "generic_form_subtemplate.html" %}
        </div>
        {% if form.grid_clear or not form.grid %}
            <div class="clear"></div> 
        {% endif %}
    {% endif %}

    {% for form in form_list %}
        {% with form.submit_method as submit_method %}
        {% with form.striptags as striptags %}
        {% with form.title as title %}
        {% with form.object as object %}
        {% with form.object_name as object_name %}
        {% with form.submit_label as submit_label %}
        {% with form.form_action as form_action %}
            <div class="grid_{{ form.grid|default:11 }}">
                {% with form.form as form %}
                    {% include "generic_form_subtemplate.html" %}
                {% endwith %}
            </div>
            {% if form.grid_clear or not form.grid %}
                <div class="clear"></div> 
            {% endif %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
</div>

    {% for subtemplate in subtemplates_dict %}
    {% with subtemplate.title as title %}
    {% with subtemplate.object_list as object_list %}
    {% with subtemplate.extra_columns as extra_columns %}
    {% with subtemplate.hide_object as hide_object %}
    {% with subtemplate.main_object as main_object %}
    {% with subtemplate.hide_link as hide_link %}
    {% with subtemplate.hide_header as hide_header %}
        {% include subtemplate.name %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endfor %}

{% endblock %}
