{% load i18n %}
{% load default_icons %}
{% default_icons %}
                
{% if side_bar %}
    <div class="block">
    <h3>
{% else %}
    <div class="content">    
    <h2 class="title">
{% endif %}

{% include "calculate_form_title.html" %}

{% if side_bar %}
    </h3>
    <div class="content">
        <p>
{% else %}
    </h2>
    <div class="inner">
{% endif %}
    {% if form.is_multipart %}
        <form name="{{ form.prefix }}" enctype="multipart/form-data" method="{{ submit_method|default:'post' }}" action="{{ form_action }}" class="form">
    {% else %}
        <form name="{{ form.prefix }}" method="{{ submit_method|default:'post' }}" action="{{ form_action }}" class="form">
    {% endif %}
        {% if step_field %}
            <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {% endif %}
        
        {% if submit_method != "GET" and submit_method != "get" %}
            {% csrf_token %}
        {% endif %}
        
        {% if next %}
            <input name="next" type="hidden" value="{{ next }}" />
        {% endif %}          

        {% if previous %}
            <input name="previous" type="hidden" value="{{ previous }}" />
        {% endif %}

        {% for hidden_field in hidden_fields %}
           {{ hidden_field.as_hidden }}
        {% endfor %}
                   
        {% if form.management_form %}
            {% with form as formset %}
                {{ formset.management_form }}

                {% if form_display_mode_table %}
                    <table class="table">
                        <tbody>
                        <tr>
                            {% for field in formset.forms.0.visible_fields %}
                                <th>
                                    {{ field.label_tag }}{% if field.field.required and not read_only %} ({% trans "required" %}){% endif %}
                                </th>
                            {#{% if field.help_text %}<span class="description">{{ field.help_text }}</span>{% endif %}#}
                            {% endfor %} 
                        </tr>
                {% endif %}
                
                {% for form in formset.forms %}
                    {% include "generic_form_instance.html" %}
                {% endfor %}
                {% if form_display_mode_table %}
                    </tbody>
                    </table>
                {% endif %}
            {% endwith %}
        {% else %}
            {% include "generic_form_instance.html" %}
        {% endif %}
        {% if not read_only %}
        <div class="group navform wat-cf">
            <button class="button" type="submit" name="{% if form.prefix %}{{ form.prefix }}-submit{% else %}submit{% endif %}">
                {% if submit_icon %}
                    {{ submit_icon.display_small }}
                {% else %}
                    {{ icon_submit_default.display_small }}
                {% endif %}

                {% if submit_label %}{{ submit_label }}{% else %}{% if object %}{% trans "Save" %}{% else %}{% trans "Submit" %}{% endif %}{% endif %}
            </button>

              {% if previous %}
                  <a href="#header" onclick='{% if previous %}window.location.replace("{{ previous }}");{% else %}history.go(-1);{% endif %}' class="button">
                    {% if cancel_icon %}
                        {{ cancel_icon.display_small }}
                    {% else %}
                        {{ icon_cancel_default.display_small }}
                    {% endif %}
                      
                    {% if cancel_label %}{{ cancel_label }}{% else %}{% trans "Cancel" %}{% endif %}
                  </a>
              {% endif %}
        </div>
        {% endif %}
    </form>
    {% if side_bar %}
        </p></div><!--end content--></div><!--end block-->
    {% else %}
        </div></div>
    {% endif %}
