{% extends "base.html" %}
{% load i18n %}
{% block title %} :: {% trans "Confirm" %} {{ title }}{% endblock %}

{% block sidebar %}
    {% for subtemplate in subtemplates %}
        {% include subtemplate %}
    {% endfor %}
{% endblock %}

{% block content %}
                
    <div class="content">    
        <h2 class="title">
            {% if delete_view %}      
                {% trans "Confirm delete" %}
            {% else %}
                {% trans "Confirm" %}
            {% endif %}
        </h2>
        <div class="inner">
            <form action="" method="post" class="form login">{% csrf_token %}
                {% if next %}
                    <input name="next" type="hidden" value="{{ next }}" />
                {% endif %}          

                {% if title %}
                    <h3>{{ title }}</h3>
                {% else %}
                    {% if delete_view %}
                        {% if object_name %}
                            <h3>{% blocktrans %}Are you sure you wish to delete {{ object_name }}: {{ object }}?{% endblocktrans %}</h3>
                        {% else %}
                            <h3>{% blocktrans %}Are you sure you wish to delete: {{ object }}?{% endblocktrans %}</h3>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <h4>{{ message }}</h4>

                <div class="group navform wat-cf">        
                  <button class="button" type="submit">
                    <img src="{{ MEDIA_URL }}web_theme_media/images/icons/tick.png" alt="{% trans 'Yes' %}" /> {% trans "Yes" %}
                  </button>
                  {% if previous %}
                  <a href="#header" onclick='{% if previous %}window.location.replace("{{ previous }}");{% else %}history.go(-1);{% endif %}' class="button">
                    <img src="{{ MEDIA_URL }}web_theme_media/images/icons/cross.png"  alt="{% trans 'No' %}"/> {% trans "No" %}
                  </a>
                  {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
