{% extends "base.html" %}
{% load i18n %}
{% load navigation_tags %}
{% block title %} :: {% blocktrans %}List of {{ title }}{% endblocktrans %}{% endblock %}
{#{% block secondary_links %}{{ secondary_links|safe }}{% endblock %}#}

{% block sidebar %}
    {% for subtemplate in sidebar_subtemplates %}
        <div class="generic_subform">
            {% include subtemplate %}
        </div><!--end subform-->
    {% endfor %}
{% endblock %}

{% block content %}
    {% include "generic_list_subtemplate.html" %}

{% endblock %}

